.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background-color: #121212;
    min-height: 200px;
    padding: 40px;
    font-family: Kanit-SemiBold;
    src: url("../assets/fonts/kanit/Kanit-SemiBold.ttf") format("truetype");

}
.fotter-title {
    color: rgb(180, 180, 180);
    font-size: 24pt;
}

.form-input > * {
    margin: 4px;
}